# DateTime data processing

In [1]:
import numpy as np
import pandas as pd

In [2]:
date_strings = np.array(["03-04-2005 11:35 PM",
                         "23-05-2010 12:01 PM",
                         "04-09-2009 09:09 PM"])
[pd.to_datetime(date, format="%d-%m-%Y %I:%M %p") for date in date_strings]  # param: errors="coerce" - error handling

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 12:01:00'),
 Timestamp('2009-09-04 21:09:00')]

+ **%Y** - full year
+ **%m** - month with zero addition
+ **%d** - day of the month with zero addition
+ **%I** - 12 hours time with zero addition
+ **%p** - AM or PM
+ **%M** - minutes with zero addition
+ **%S** - seconds with zero addition

In [3]:
pd.Timestamp("2017-05-01 06:00:00", tz="Europe/London")  # pd.Timestamp object with timezone initialization

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

In [4]:
date = pd.Timestamp("2017-05-01 06:00:00")
date

Timestamp('2017-05-01 06:00:00')

In [5]:
date_in_london = date.tz_localize("Europe/London")  # format time with tz_localize .mtd
date_in_london

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

In [6]:
date_in_london.tz_convert("Africa/Abidjan")  # time convertion according time zone

Timestamp('2017-05-01 05:00:00+0000', tz='Africa/Abidjan')

In [7]:
dates = pd.Series(pd.date_range("2/2/2002", periods=3, freq="M"))  # applying to pd.Series object
dates.dt.tz_localize("Africa/Abidjan")

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]